In [ ]:
import pandas as pd

In [ ]:
article = pd.read_csv("news_articles.csv")
article = article['Content']

In [ ]:
article[0]

'At least 14 people died and 17 others were injured after a bus travelling from Hyderabad to Kakinada plunged into a canal from a bridge on the accident-prone stretch of the Hyderabad-Khammam highway in Telangana early Monday morning \nThe injured were admitted to the Government General Hospital for treatment \n\n\nSeven people died on the spot and the others succumbed to injuries while undergoing treatment at the hospital  The passengers belonged to the East and West Godavari districts of Andhra Pradesh \nThe bus  owned by private operator Yatra Genie  commenced its journey from Hyderabad at 11 30 p m  on Sunday  Khammam Superintendent of Police Shah Nawaz Khan was quoted by the Hindustan Times as saying \nThe accident happened around 2 30 a m  when the driver slammed the brakes to avoid a collision with another vehicle coming from the opposite direction on a bridge over Nagarjunsagar project left canal at Nayankangudem village in Khammam district  the daily reported  The bus hit the parapet wall of the bridge and nose-dived into the canal \nThe driver of the bus was apparently driving at high speed due to which he lost control of the vehicle  following which it fell into the canal under Kusumanchi mandal  the Deccan Herald reported \nTravellers immediately informed the police who rushed to the accident scene and began the rescue operations '

### Using Regular Expression to remove some ambiquity

In [ ]:
import re
def decontracted(phrase):
# specific
    phrase = re.sub(r"won’t", "will not", phrase)
    phrase = re.sub(r"can’t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [ ]:
for line in article:
    decontracted(line)

In [ ]:
article.apply(decontracted)

0       At least 14 people died and 17 others were inj...
1       TV actress Pratibha Tiwari  who is best known ...
2       The United States and South Korea began a join...
3       The relentless drive by Bengaluru s  Bangalore...
4       Punjab Gau Raksha Dal chief Satish Kumar and h...
5       Philippines police on Monday said that the num...
6       Infosys shares could fall sharply on Tuesday w...
7       Prime Minister Narendra Modi has expressed dee...
8       A school bus in the town of Bishnah in Jammu s...
9       A school bus carrying around 50 children fell ...
10      At least eight schoolchildren were killed when...
11      UPDATE  2 35 p m  IST   The death toll has ris...
12      Two students died while over 40 were electrocu...
13      Twelve people died and at least eight were inj...
14      The death toll in the bridge collapse near Mah...
15      4 30 p m  IST   Maharashtra Chief Minister Dev...
16      At least four more bodies were recovered from ...
17      A British-era bridge in Maharashtra collapsed ...
18      At least four people were killed and one injur...
19      At least seven children died on Monday after a...
20      In a tragic incident on Sunday  as many as eig...
21      Five people died and 10 were injured after a t...
22      At least 26 people  mostly tourists from China...
23      A BMW car driven by a Rajasthan MLA s son  sus...
24      A fire broke out at Mantralaya  the Maharashtr...
25      One person died and five others were injured a...
26      A forensic report by Central Forensic Science ...
27      Anton Yelchin  who was best known for portrayi...
28      Actress Pranitha Subhash met with an accident ...
29      Update  11 26 a m  IST   The police said the d...
                              ...
4801    India s rank in the  Doing Business Report 135...
4802    The Chinese government bought shares worth 900...
4803    Even as the global stock markets tumbled to mu...
4804    Reports of Bollywood superstar Amitabh Bachcha...
4805    Global rating agency Moody s Investors Service...
4806    Earning upgrades would propel the S P BSE Sens...
4807    The Chinese stock markets have fallen sharply ...
4808    Although the domestic stock markets have witne...
4809    Things seem to be getting worse for precious m...
4810    Gold prices are estimated to decline further t...
4811    Domestic jewellery maker Rajesh Exports Ltd  R...
4812    Ahead of its official launch in India  ASUS ar...
4813    If you are out shopping for a budget smartphon...
4814    The much-hyped Asus Zenfone 2 is all set to hi...
4815    Even today  personal computers  PCs  are prefe...
4816    In the Indian smartphone market  Motorola s Mo...
4817    IT security company ESET has recently released...
4818    The GSM Association or GSMA association of mob...
4819    Samsung has launched their latest flagship Sam...
4820    The 3D printing technology has undergone lots ...
4821    Known as the Mecca of smartphones lovers  the ...
4822    Samsung has finally launched its much-awaited ...
4823    HTC has launched its latest flagship smartphon...
4824    Smartphone leader Samsung on Monday  23 March ...
4825    Apple s iPhone 6 and iPhone 6 Plus have been d...
4826    Apple won its share of fame when it launched i...
4827    HTC launched One M9 at MWC  2015 few days back...
4828    Samsung s critically-acclaimed Galaxy S6 and G...
4829    Google has finally released the Android 5 1 Lo...
4830    Apple is now the largest smartphone company in...
Name: Content, Length: 4831, dtype: object

In [ ]:
article[0]

'At least 14 people died and 17 others were injured after a bus travelling from Hyderabad to Kakinada plunged into a canal from a bridge on the accident-prone stretch of the Hyderabad-Khammam highway in Telangana early Monday morning \nThe injured were admitted to the Government General Hospital for treatment \n\n\nSeven people died on the spot and the others succumbed to injuries while undergoing treatment at the hospital  The passengers belonged to the East and West Godavari districts of Andhra Pradesh \nThe bus  owned by private operator Yatra Genie  commenced its journey from Hyderabad at 11 30 p m  on Sunday  Khammam Superintendent of Police Shah Nawaz Khan was quoted by the Hindustan Times as saying \nThe accident happened around 2 30 a m  when the driver slammed the brakes to avoid a collision with another vehicle coming from the opposite direction on a bridge over Nagarjunsagar project left canal at Nayankangudem village in Khammam district  the daily reported  The bus hit the parapet wall of the bridge and nose-dived into the canal \nThe driver of the bus was apparently driving at high speed due to which he lost control of the vehicle  following which it fell into the canal under Kusumanchi mandal  the Deccan Herald reported \nTravellers immediately informed the police who rushed to the accident scene and began the rescue operations '

In [ ]:
def stripunc(X):
    return re.sub('[^A-Za-z]+', ' ', str(X), flags=re.MULTILINE|re.DOTALL)

In [ ]:
articles = article.apply(stripunc)
articles[1]

'TV actress Pratibha Tiwari who is best known for her role in Saath Nibhana Saathiya was molested by a stranger on a busy road in Mumbai It has been reported that Pratibha was waiting for a colleague along with her hairdresser when a drunk man came and molested the actress The incident happened at p m However the Saath Nibhana Saathiya fought back and dragged the accused to a nearby police station She has filed an FIR against the alleged molester Pratibha also expressed shock at anyone daring to misbehave with a girl It is surprising that such an incident could occur on a busy road at pm It was shocking but a revelation too I have learnt that women are scared to lodge a complaint in such cases but I would urge them to fight it out she told the Times of India The actress came to limelight with a show titled Tujhse Naraz Nahi Zindagi and had done a number of commercials She plays the character of Navya which has a negative shade in Saath Nibhana Saathiya http www ibtimes co in pratibha tiwari molested busy road saath nibhana saathiya actress drags accused police station Infosys denies reports of layoffs says only underperformers asked to leave'

In [ ]:
type(articles)

pandas.core.series.Series

### Using NLTK

In [ ]:
# articles = articles.str.split(" ")
# articles
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

### Lemmatizing

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

articles.apply(lambda x : " ".join([lemmatizer.lemmatize(word, pos="v") for word in x.split(" ")]))
# for line in articles
#     line = " ".join(lemmatizer.lemmatize(line.split(" "),pos='v'))
# articles[1]

0       At least people die and others be injure after...
1       TV actress Pratibha Tiwari who be best know fo...
2       The United States and South Korea begin a join...
3       The relentless drive by Bengaluru s Bangalore ...
4       Punjab Gau Raksha Dal chief Satish Kumar and h...
5       Philippines police on Monday say that the numb...
6       Infosys share could fall sharply on Tuesday wh...
7       Prime Minister Narendra Modi have express deep...
8       A school bus in the town of Bishnah in Jammu s...
9       A school bus carry around children fell into a...
10      At least eight schoolchildren be kill when an ...
11      UPDATE p m IST The death toll have rise to aft...
12      Two students die while over be electrocute on ...
13      Twelve people die and at least eight be injure...
14      The death toll in the bridge collapse near Mah...
15       p m IST Maharashtra Chief Minister Devendra F...
16      At least four more body be recover from the di...
17      A British era bridge in Maharashtra collapse o...
18      At least four people be kill and one injure in...
19      At least seven children die on Monday after a ...
20      In a tragic incident on Sunday as many as eigh...
21      Five people die and be injure after a truck co...
22      At least people mostly tourists from China die...
23      A BMW car drive by a Rajasthan MLA s son suspe...
24      A fire break out at Mantralaya the Maharashtra...
25      One person die and five others be injure after...
26      A forensic report by Central Forensic Science ...
27      Anton Yelchin who be best know for portray the...
28      Actress Pranitha Subhash meet with an accident...
29      Update a m IST The police say the driver lose ...
                              ...
4801           India s rank in the Doing Business Report
4802    The Chinese government buy share worth billion...
4803    Even as the global stock market tumble to mult...
4804    Reports of Bollywood superstar Amitabh Bachcha...
4805    Global rat agency Moody s Investors Service ha...
4806    Earning upgrade would propel the S P BSE Sense...
4807    The Chinese stock market have fall sharply in ...
4808    Although the domestic stock market have witnes...
4809    Things seem to be get worse for precious metal...
4810    Gold price be estimate to decline further to R...
4811    Domestic jewellery maker Rajesh Exports Ltd RE...
4812    Ahead of its official launch in India ASUS arr...
4813    If you be out shop for a budget smartphone tha...
4814    The much hype Asus Zenfone be all set to hit I...
4815    Even today personal computers PCs be prefer de...
4816    In the Indian smartphone market Motorola s Mot...
4817    IT security company ESET have recently release...
4818    The GSM Association or GSMA association of mob...
4819    Samsung have launch their latest flagship Sams...
4820    The D print technology have undergo lot of inn...
4821    Known as the Mecca of smartphones lovers the M...
4822    Samsung have finally launch its much await fla...
4823    HTC have launch its latest flagship smartphone...
4824    Smartphone leader Samsung on Monday March offi...
4825    Apple s iPhone and iPhone Plus have be dominat...
4826    Apple win its share of fame when it launch iPh...
4827    HTC launch One M at MWC few days back Unlike S...
4828    Samsung s critically acclaim Galaxy S and Gala...
4829    Google have finally release the Android Lollip...
4830    Apple be now the largest smartphone company in...
Name: Content, Length: 4831, dtype: object

## TF-IDF scratch

In [ ]:
bog = []
len(bog)
for i in range(0,4831):
     #bog[i] = (articles[i].split(" "))
    bog.append(articles[i].split(" "))

In [ ]:
len(bog)

4831

In [ ]:
d={'Articles':articles,'bog':pd.Series(bog)}     
df = pd.DataFrame(d)
df

,Articles,bog
0,At least people died and others were injured a...,"[At, least, people, died, and, others, were, i..."
1,TV actress Pratibha Tiwari who is best known f...,"[TV, actress, Pratibha, Tiwari, who, is, best,..."
2,The United States and South Korea began a join...,"[The, United, States, and, South, Korea, began..."
3,The relentless drive by Bengaluru s Bangalore ...,"[The, relentless, drive, by, Bengaluru, s, Ban..."
4,Punjab Gau Raksha Dal chief Satish Kumar and h...,"[Punjab, Gau, Raksha, Dal, chief, Satish, Kuma..."
5,Philippines police on Monday said that the num...,"[Philippines, police, on, Monday, said, that, ..."
6,Infosys shares could fall sharply on Tuesday w...,"[Infosys, shares, could, fall, sharply, on, Tu..."
7,Prime Minister Narendra Modi has expressed dee...,"[Prime, Minister, Narendra, Modi, has, express..."
8,A school bus in the town of Bishnah in Jammu s...,"[A, school, bus, in, the, town, of, Bishnah, i..."
9,A school bus carrying around children fell int...,"[A, school, bus, carrying, around, children, f..."
10,At least eight schoolchildren were killed when...,"[At, least, eight, schoolchildren, were, kille..."
11,UPDATE p m IST The death toll has risen to aft...,"[UPDATE, p, m, IST, The, death, toll, has, ris..."
12,Two students died while over were electrocuted...,"[Two, students, died, while, over, were, elect..."
13,Twelve people died and at least eight were inj...,"[Twelve, people, died, and, at, least, eight, ..."
14,The death toll in the bridge collapse near Mah...,"[The, death, toll, in, the, bridge, collapse, ..."
15,p m IST Maharashtra Chief Minister Devendra F...,"[, p, m, IST, Maharashtra, Chief, Minister, De..."
16,At least four more bodies were recovered from ...,"[At, least, four, more, bodies, were, recovere..."
17,A British era bridge in Maharashtra collapsed ...,"[A, British, era, bridge, in, Maharashtra, col..."
18,At least four people were killed and one injur...,"[At, least, four, people, were, killed, and, o..."
19,At least seven children died on Monday after a...,"[At, least, seven, children, died, on, Monday,..."
20,In a tragic incident on Sunday as many as eigh...,"[In, a, tragic, incident, on, Sunday, as, many..."
21,Five people died and were injured after a truc...,"[Five, people, died, and, were, injured, after..."
22,At least people mostly tourists from China die...,"[At, least, people, mostly, tourists, from, Ch..."
23,A BMW car driven by a Rajasthan MLA s son susp...,"[A, BMW, car, driven, by, a, Rajasthan, MLA, s..."
24,A fire broke out at Mantralaya the Maharashtra...,"[A, fire, broke, out, at, Mantralaya, the, Mah..."
25,One person died and five others were injured a...,"[One, person, died, and, five, others, were, i..."
26,A forensic report by Central Forensic Science ...,"[A, forensic, report, by, Central, Forensic, S..."
27,Anton Yelchin who was best known for portrayin...,"[Anton, Yelchin, who, was, best, known, for, p..."
28,Actress Pranitha Subhash met with an accident ...,"[Actress, Pranitha, Subhash, met, with, an, ac..."
29,Update a m IST The police said the driver lost...,"[Update, a, m, IST, The, police, said, the, dr..."
...,...,...
4801,India s rank in the Doing Business Report,"[India, s, rank, in, the, Doing, Business, Rep..."
4802,The Chinese government bought shares worth bil...,"[The, Chinese, government, bought, shares, wor..."
4803,Even as the global stock markets tumbled to mu...,"[Even, as, the, global, stock, markets, tumble..."
4804,Reports of Bollywood superstar Amitabh Bachcha...,"[Reports, of, Bollywood, superstar, Amitabh, B..."
4805,Global rating agency Moody s Investors Service...,"[Global, rating, agency, Moody, s, Investors, ..."
4806,Earning upgrades would propel the S P BSE Sens...,"[Earning, upgrades, would, propel, the, S, P, ..."
4807,The Chinese stock markets have fallen sharply ...,"[The, Chinese, stock, markets, have, fallen, s..."
4808,Although the domestic stock markets have witne...,"[Although, the, domestic, stock, markets, have..."
4809,Things seem to be getting worse for precious m...,"[Things, seem, to, be, getting, worse, for, pr..."
4810,Gold prices are estimated to decline further t...,"[Gold, prices, are, estimated, to, decline, fu..."
4811,Domestic jewellery maker Rajesh Exports Ltd RE...,"[Domestic, jewellery, maker, Rajesh, Exports, ..."
4812,Ahead of its official launch in India ASUS arr...,"[Ahead, of, its, official, launch, in, India, ..."
4813,If you are out shopping for a budget smartphon...,"[If, you, are, out, shopping, for, a, budget, ..."
4814,The much hyped Asus Zenfone is all set to hit ...,"[The, much, hyped, Asus, Zenfone, is, all, set..."
4815,Even today personal computers PCs are preferre...,"[Even, today, personal, computers, PCs, are, p..."
4816,In the Indian smartphone market Motorola s Mot...,"[In, the, Indian, smartphone, market, Motorola..."
4817,IT security company ESET has recently released...,"[IT, security, company, ESET, has, recently, r..."
4818,The GSM Association or GSMA association of mob...,"[The, GSM, Association, or, GSMA, association,..."
4819,Samsung has launched their latest flagship Sam...,"[Samsung, has, launched, their, latest, flagsh..."
4820,The D printing technology has undergone lots o...,"[The, D, printing, technology, has, undergone,..."
4821,Known as the Mecca of smartphones lovers the M...,"[Known, as, the, Mecca, of, smartphones, lover..."
4822,Samsung has finally launched its much awaited ...,"[Samsung, has, finally, launched, its, much, a..."
4823,HTC has launched its latest flagship smartphon...,"[HTC, has, launched, its, latest, flagship, sm..."
4824,Smartphone leader Samsung on Monday March offi...,"[Smartphone, leader, Samsung, on, Monday, Marc..."
4825,Apple s iPhone and iPhone Plus have been domin...,"[Apple, s, iPhone, and, iPhone, Plus, have, be..."
4826,Apple won its share of fame when it launched i...,"[Apple, won, its, share, of, fame, when, it, l..."
4827,HTC launched One M at MWC few days back Unlike...,"[HTC, launched, One, M, at, MWC, few, days, ba..."
4828,Samsung s critically acclaimed Galaxy S and Ga...,"[Samsung, s, critically, acclaimed, Galaxy, S,..."
4829,Google has finally released the Android Lollip...,"[Google, has, finally, released, the, Android,..."
4830,Apple is now the largest smartphone company in...,"[Apple, is, now, the, largest, smartphone, com..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv.fit_transform(articles)
print(len(cv.get_feature_names()))

35322

In [ ]:
WordSet = set()
for line in bog:
    WordSet = set(WordSet).union(set(line))

In [ ]:
WordDict1 = dict.fromkeys(WordSet,0) 
WordDict2 = dict.fromkeys(WordSet,0)

In [ ]:
# bog[0]

In [ ]:
for word in bog[0]:
    WordDict1[word]+=1

for word in bog[1]:
    WordDict2[word]+=1

In [ ]:
def ComputeTF(WordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in WordDict.items():
        tfDict[word] = count / float(bowCount)
    return tfDict

In [ ]:
tfBow1 = ComputeTF(WordDict1,bog[0])
tfBow2 = ComputeTF(WordDict2,bog[0])

In [ ]:
# tfBow1

In [ ]:
def ComputeIDF(docList):
    import math
    idfDict={}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(),0)
    for doc in docList:
        for word, value in doc.items():
            if value > 0:
                idfDict[word]+=1
    
    for word, value in idfDict.items():
        if value != 0:
            idfDict[word] = math.log(N / float(value))
        else:
            idfDict[word] = 0
    return idfDict

In [ ]:
idfs = ComputeIDF([WordDict1,WordDict2])

In [ ]:
def ComputeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, value in tfBow.items():
        tfidf[word] = value * idfs[word]
        
    return tfidf

In [ ]:
ifidfBowA = ComputeTFIDF(tfBow1,idfs)
ifidfBowB = ComputeTFIDF(tfBow2,idfs)

### Bag Of Words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [ ]:
final_count = vect.fit_transform(articles.values)

In [ ]:
final_count.get_shape()

(4831, 35322)

In [ ]:
final_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
names = vect.get_feature_names()

In [ ]:
from sklearn.cluster import KMeans
Kmean = KMeans(n_clusters=2)
Kmean.fit_transform(final_count)

array([[23.82060295, 20.81160685],
       [16.48878668, 29.7767153 ],
       [19.25039152, 25.2437416 ],
       ...,
       [29.63777445, 24.51721288],
       [28.40605933, 29.52802276],
       [17.79227862, 28.77046138]])

Kmean.cluster_centers_

In [ ]:
Kmean.labels_

array([1, 0, 0, ..., 1, 0, 0], dtype=int32)

In [ ]:
lines = ['At least 14 people died and 17 others were injured after a bus travelling from Hyderabad to Kakinada plunged into a canal from a bridge on the accident-prone stretch of the Hyderabad-Khammam highway in Telangana early Monday morning \nThe injured were admitted to the Government General Hospital for treatment']
Kmean.predict(vect.transform(lines))

array([0], dtype=int32)

 ### Word2Vec

In [ ]:
from gensim.models import Word2Vec

In [ ]:
import gensim

In [ ]:
i=0
list_of_sent = []
for sent in articles.values:
  fil_sent = []
  for w in sent.split():
    for cleaned_words in w.split():
      if(cleaned_words.isalpha()):
        fil_sent.append(cleaned_words.lower())
      else:
        continue
    list_of_sent.append(fil_sent)

In [ ]:
print(articles[0])
print("-------------------------------")
print(list_of_sent[0])

At least people died and others were injured after a bus travelling from Hyderabad to Kakinada plunged into a canal from a bridge on the accident prone stretch of the Hyderabad Khammam highway in Telangana early Monday morning The injured were admitted to the Government General Hospital for treatment Seven people died on the spot and the others succumbed to injuries while undergoing treatment at the hospital The passengers belonged to the East and West Godavari districts of Andhra Pradesh The bus owned by private operator Yatra Genie commenced its journey from Hyderabad at p m on Sunday Khammam Superintendent of Police Shah Nawaz Khan was quoted by the Hindustan Times as saying The accident happened around a m when the driver slammed the brakes to avoid a collision with another vehicle coming from the opposite direction on a bridge over Nagarjunsagar project left canal at Nayankangudem village in Khammam district the daily reported The bus hit the parapet wall of the bridge and nose dived into the canal The driver of the bus was apparently driving at high speed due to which he lost control of the vehicle following which it fell into the canal under Kusumanchi mandal the Deccan Herald reported Travellers immediately informed the police who rushed to the accident scene and began the rescue operations
-------------------------------
['at', 'least', 'people', 'died', 'and', 'others', 'were', 'injured', 'after', 'a', 'bus', 'travelling', 'from', 'hyderabad', 'to', 'kakinada', 'plunged', 'into', 'a', 'canal', 'from', 'a', 'bridge', 'on', 'the', 'accident', 'prone', 'stretch', 'of', 'the', 'hyderabad', 'khammam', 'highway', 'in', 'telangana', 'early', 'monday', 'morning', 'the', 'injured', 'were', 'admitted', 'to', 'the', 'government', 'general', 'hospital', 'for', 'treatment', 'seven', 'people', 'died', 'on', 'the', 'spot', 'and', 'the', 'others', 'succumbed', 'to', 'injuries', 'while', 'undergoing', 'treatment', 'at', 'the', 'hospital', 'the', 'passengers', 'belonged', 'to', 'the', 'east', 'and', 'west', 'godavari', 'districts', 'of', 'andhra', 'pradesh', 'the', 'bus', 'owned', 'by', 'private', 'operator', 'yatra', 'genie', 'commenced', 'its', 'journey', 'from', 'hyderabad', 'at', 'p', 'm', 'on', 'sunday', 'khammam', 'superintendent', 'of', 'police', 'shah', 'nawaz', 'khan', 'was', 'quoted', 'by', 'the', 'hindustan', 'times', 'as', 'saying', 'the', 'accident', 'happened', 'around', 'a', 'm', 'when', 'the', 'driver', 'slammed', 'the', 'brakes', 'to', 'avoid', 'a', 'collision', 'with', 'another', 'vehicle', 'coming', 'from', 'the', 'opposite', 'direction', 'on', 'a', 'bridge', 'over', 'nagarjunsagar', 'project', 'left', 'canal', 'at', 'nayankangudem', 'village', 'in', 'khammam', 'district', 'the', 'daily', 'reported', 'the', 'bus', 'hit', 'the', 'parapet', 'wall', 'of', 'the', 'bridge', 'and', 'nose', 'dived', 'into', 'the', 'canal', 'the', 'driver', 'of', 'the', 'bus', 'was', 'apparently', 'driving', 'at', 'high', 'speed', 'due', 'to', 'which', 'he', 'lost', 'control', 'of', 'the', 'vehicle', 'following', 'which', 'it', 'fell', 'into', 'the', 'canal', 'under', 'kusumanchi', 'mandal', 'the', 'deccan', 'herald', 'reported', 'travellers', 'immediately', 'informed', 'the', 'police', 'who', 'rushed', 'to', 'the', 'accident', 'scene', 'and', 'began', 'the', 'rescue', 'operations']

In [ ]:
w2v_model = gensim.models.Word2Vec(list_of_sent,min_count=5,size=50)

In [ ]:
words = list(w2v_model.wv.vocab)
print(len(words))

35346

## TF _IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(ngram_range=(1,1))
finnal = tfidf.fit_transform(articles.values)

In [ ]:
finnal.get_shape()

(4831, 35322)

In [ ]:
features = tfidf.get_feature_names()
print(len(features))

35322

In [ ]:
# average Word2Vec
import numpy as np
# compute average word2vec for each review.
sent_vectors_test = []; # the avg-w2v for each sentence/review is stored in this list
for sent in list_of_sent: # for each review/sentence
    sent_vec = np.zeros(50) # as word vectors are of zero length 50, you might need to change this to 300 if you use google's w2v
    cnt_words =0; # num of words with a valid vector in the sentence/review
    for word in sent: # for each word in a review/sentence
        if word in w2v_words:
            vec = w2v_model.wv[word]
            sent_vec += vec
            cnt_words += 1
    if cnt_words != 0:
        sent_vec /= cnt_words
    sent_vectors_test.append(sent_vec)
sent_vectors_test = np.array(sent_vectors_test)
print(sent_vectors_test.shape)
print(sent_vectors_test[0])

NameError: ignored

### TF-IDf weighted vector

In [ ]:
features = tfidf.get_feature_names()

tfidf_sent_vectors=[]
row = 0
for sent in list_of_sent:
  sent_vec =  np.zeros(50)
  weighted_sum = 0
  for word in sent:
    try:
      vec = w2v_model.wv[word]
      # obtain tfidf of that word
      tfidf = finnal[row,features.index(word)]
      sent_vec =+ (vec * tfidf)
      weighted_sum =+ tf_idf
    except:
      pass
    sent_vec /= weighted_sum
    tfidf_sent_vectors.append(sent_vec)
    row += 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in true_divide

## KMEANS

In [ ]:
Kmean = KMeans(n_clusters=2)
Kmean.fit_transform(tfidf_sent_vectors)

In [ ]:
Kmean.labels_